<!doctype html>
<html lang="en" ng-app="chefKoochooloo">
<head>
  <meta charset="utf-8">
  <title>Chef Koochooloo</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">

  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers/applicationController.js"></script>
  <script src="js/controllers/countryController.js"></script>
  <script src="js/controllers/recipesController.js"></script>
  <script src="js/controllers/recipeController.js"></script>
  <script src="js/controllers/ingredientsController.js"></script>
  <script src="js/controllers/toolsController.js"></script>
</head>
<body>
  <!-- MENU -->
  <div ng-controller="applicationController">
    <h1 style="padding-left: 10px;">Koochooloo</h1>
    <ul class="nav nav-pills">
      <li>
        <ui-select  ng-model="country.selected" 
                    theme="bootstrap"
                    style="width: 300px;" 
                    title="Choose a country">
          <ui-select-match  placeholder="Enter country name ...">
            {{$select.selected.name}}
          </ui-select-match>
          <ui-select-choices  repeat="country in countries | filter: $select.search">
            <span   ng-bind-html="country.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </li>
      <li   ng-class="target == 'country' ? 'active' : ''"
            role="presentation">    
        <a  ng-click="goTo('country')" >
          Info
        </a>
      </li>
      <li   ng-class="target == 'recipes' ? 'active' : ''"
            role="presentation"> 
        <a  ng-click="goTo('recipes')" >
          Recipes
        </a>
      </li>
    </ul>
  </div>
  <br/>
  <!-- NAVIGATION VIEW -->
  <div  ng-view
        style="width: 80%; margin-left: 10%;">
  </div>
</body>
</html>