<div 	class="modal-header" 
		style="position: relative; width: 100%; z-index: 99999!important; " >
	<div 	style="min-height: 35px;">
		<button 	ng-click="addTool()"
					class="btn btn-primary"
					style="position: absolute; right: 30px;">
			Add tool
		</button>
	</div>
</div>
<div 	id="toolsContainer" 
		class="modal-body" 
		style="width: 100%; background-color: white; height: 500px; position:fixed; overflow-y:scroll;">
	<div>
		<div 	ng-repeat="tool in tools" 
				ng-class="$parent.selectedIndex == $index ? 'panel-'+$parent.selectedStyle : 'panel-primary'" 
				class="panel"
				style="margin-left: 20px; margin-right: 20px;" >
		  	<div 	class="panel-heading" >
		  		<div 	style="width: 100%; padding-right: 150px; display: inline-block; min-height: 30px;">
			  		<p 	ng-show="$parent.selectedIndex != $index || $parent.action == 'delete'">
			  			{{tool.name}}
			  		</p>
		  			<input 	ng-show="$parent.selectedIndex == $index && $parent.action != 'delete'"
		  					ng-model="$parent.tempName"
							type="text" 
							class="form-control"
							placeholder="Tool name">
		  		</div>
		  		<div 	ng-show="$parent.selectedIndex != $index"
		  				class="btn-group" 
		  				role="group" 
		  				aria-label="..."
		  				style="position: absolute; display: inline-block; right: 50px;">
		  			<button ng-click="selectTool($index, 'update')"
			  				type="button"
			  				class="btn btn-default">
			  			Update 
		  			</button>
		  			<button ng-click="selectTool($index, 'delete')"
			  				type="button" 
			  				class="btn btn-danger" >
			  				<span aria-hidden="true">&times;</span>
			  		</button>
		  		</div>
		  		<div 	ng-show="$parent.selectedIndex == $index"
		  				class="btn-group" 
		  				role="group" 
		  				aria-label="..."
		  				style="position: absolute; display: inline-block; right: 50px;">
			  		<button ng-click="updateTool()"
					  		type="button" 
					  		class="btn {{'btn-'+$parent.selectedStyle}}" >
					  		{{$parent.action == 'delete' ? 'Delete' : 'Save'}}
					</button>
					<button ng-click="selectTool(-1, null)"
					  		type="button" 
					  		class="btn btn-primary" >
					  		Cancel
					</button>
				</div>
		  	</div>
			<div 	ng-show="tool.url || ($parent.selectedIndex == $index && $parent.action != 'delete')" 
					class="panel-body"
					style="width: 100%; padding-right: 165px; display: inline-block;" >
				<div>
					<input 	ng-show="$parent.selectedIndex == $index && $parent.action != 'delete'"
			  				ng-model="$parent.tempUrl"
							type="text" 
							class="form-control"
							placeholder="Url">
				</div>
				<p 	ng-show="$parent.selectedIndex != $index || $parent.action == 'delete'" >
					<a ng-href="{{tool.url}}">{{tool.url}}</a>
				</p>
			</div>
		</div>
	</div>
</div>